.header{
    display: flex;
    justify-content: space-between;
}

.ul{
    list-style-type: none;
}

.right-links{
    display: flex;
}


.secondary-text{
    font-size: 18px;
    font-family: Hero, Verdana, sans-serif;
}