/* Universal CSS*/
body{
    display: flex;
    flex-direction: column;
    font-family: Hero, Verdana, sans-serif;
    margin:0;
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

h2{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

button{
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 8px;
    padding:8px 16px;
}

.footer, .header, .front-page{
    background-color: #1F2937;
    color: white;
}

/* Header CSS*/
.header{
    display: flex;
    justify-content: space-between;
    margin:0;
    padding: 32px;
}

.header ul{
    list-style: none;
}

.right-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

/* Content CSS*/
.content{
    flex: 1;
}

.front-page{
    display: flex;
    padding: 32px;
}

.front-page-text{
    flex:1;
    padding: 32px;
}

.placeholder{
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    color: white;
    width: 500px;
    height: 250px;
    padding: 32px;
    border-radius: 8px;
}

/* Information CSS */

.images{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.squares{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    background-color:#3882F6;
}

.subtexts{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.subtext{
    width:200px;
    flex-wrap: wrap;
}

/* Footer CSS */

.footer{
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;
}